<section id="amount-input-form-section" class="form-section">
  <form id="amount-input-form">
      <label form="amount-input-form">자판기가 보유할 금액을 입력해주세요</label>
      <div class="amount-input-form-wrap">
          <input type="number" name="amount-input-form" placeholder="금액" form="amount-input-form" required>
          <button id="amount-input-form-submit-button" class="button accent">추가</button>
      </div>
  </form>
  <p class="holding-amount"><span id="total-holding-amount-text">현재 보유 금액</span>: <span id="total-holding-amount">0원</span></p>
</section>