{
  "env": {
    "browser": true,
    "es2022": true,
    "jest": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "rules": {
    "class-methods-use-this": "off",
    "eol-last": ["error", "always"],
    "no-alert": "off",
    "no-param-reassign": "off",
    "max-depth": ["error", 2],
    "max-lines-per-function": ["error", 15],
  }
}
