.app.login .input-form__input {
  width: 100%;
  height: 36px;
  margin-bottom: 20px;
}

.app.login .input-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}

.app.login .input-form__input:last-child {
  margin-bottom: 30px;
}

.app.login .input-form {
  width: 55%; 
  margin: 0 auto;
}

.app.login .input-form__submit-button {
  width: 100%;
  height: 36px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.25px;
}

.signup-anouncement {
  margin-top: 14px;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.signup-anouncement span {
  cursor: pointer;
  margin-left: 10px;
  color: #3581D7;
}

.signup-anouncement span:hover {
  opacity: 0.7;
}
