.app__main .input-form__input {
  width: 300px;
  height: 100%;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 4px 0px;
}

.app__main .product-table.coin-table {
  width: 45%;
  margin: 0 auto;
  border-collapse: collapse;
}
