.app__main.chargeMoney .input-form__input {
  width: 300px;
}

.app__main.chargeMoney .coin-table {
  width: 45%;
  margin: 0 auto;
  border-collapse: collapse;
}

.app__main.chargeMoney .input-container {
  margin-bottom: 10px;
}

.app__main.chargeMoney .input-form__submit-button {
  padding: 6px 6px 6px 8px; 
  width: 56px;
  height: 100%;
  margin: 0px 10px;
}
