#add-holding-amount-form-section {
  #add-holding-amount-form {
    margin-bottom: 1rem;

    .add-holding-amount-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;

      > input {
        grid-column: 1 / 3;
      }

      > button {
        grid-column: 3 / 3;
      }
    }
  }
}
