login-page {
  padding: 0 156px;
  fieldset:last-of-type {
    margin-bottom: 30px;
  }
  button {
    margin-bottom: 14px;
  }
  span {
    margin-right: 10px;
  }
  span, a {
    font-size: 15px;
  }
}