@import url('./color.css');
body {
  padding: 64px 0;
  background-color: var(--body-background-color);
}
#app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--app-border-color);
  background-color: #fff;
  border-radius: 4px;
  padding-bottom: 50px;
}

nav {
  display: flex;
  width: 359px;
  gap: 4px;
}

#manage-product-container {
  margin-top: 40px;
}

#purchase-product-container {
  margin-top: 40px;
}

#recharge-change-container {
  margin-top: 40px;
}

button {
  width: 100%;
  cursor: pointer;
}

button.gray-button {
  background-color: var(--button-gray-background-color);
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
}

a.tab-button.checked {
  background-color: var(--button-hover-background-color);
}

button:hover {
  background-color: var(--button-hover-background-color);
}

#return-change-button {
  width: 100px;
}
.user-submit-button {
  width: 100% !important;
  height: 36px;
  margin-bottom: 20px;
}

a.tab-button {
  width: 100%;
  background-color: var(--button-gray-background-color);
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
  text-align: center;
}
a.tab-button:hover {
  background-color: var(--button-hover-background-color);
}
.hide {
  display: none;
  visibility: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.snack-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 10%;
  left: 50%;

  visibility: hidden;
  transform: translateX(-50%) translate3d(0, 100%, 0);

  background-color: var(--snackbar-background-color);
  border-style: none;
  border-radius: 4px;

  width: fit-content;
  height: fit-content;
  padding: 10px;
  color: var(--snackbar-font-color);
  font-size: 18px;
}

.snack-bar.is-active {
  visibility: visible;
  transform: translateX(-50%) translate3d(0, 0, 0);
  transition: transform 300ms ease-in-out;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}
