:root {
  --body-background-color: #f9f9f9;

  --app-border-color: rgba(0, 0, 0, 0.12);

  --button-skyblue-background-color: #00bcd4;
  --button-skyblue-font-color: #ffffff;
  --button-gray-background-color: #f5f5f5;
  --button-gray-font-color: #111;

  --button-hover-background-color: rgba(0, 188, 212, 0.16);
  --label-font-color: rgba(0, 0, 0, 0.87);
  --input-border-color: #8b8b8b;

  --table-division-color: #dcdcdc;

  --snackbar-background-color: #00bcd4;
  --snackbar-font-color: #ffffff;

  --user-profile-background-color: #d6f4f8;
  --user-profile-active-background-color: #00bcd4;
}
