:root {
  font-size: 14px;
  font-family: 'NanumBarunGothic';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 140%;
}

body {
  background-color: $color-alabaster;
}

input[type] {
  width: 100%;
  border: 1px solid $color-nobel;
  padding: 0.5rem;
  border-radius: 5px;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:disabled {
    background-color: $color-alto;
  }
}

a {
  color: $color-mariner;
  text-decoration: none;

  &[data-route] {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.button {
  background: $color-concrete;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &.accent {
    background-color: $brand-color-accent;
    color: $brand-color-accent-font;
  }

  &.fill {
    width: 100%;
    padding: {
      top: 0.7rem;
      bottom: 0.7rem;
    };
  }

  &:hover {
    filter: brightness(0.95);
  }
}

.button-group {
  display: flex;
  gap: 1rem;
  padding: 0 0.5rem;

  > .button {
    flex-grow: 1;
  }
}

.table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-top: 1px solid $color-alto;
  margin-bottom: 1.6rem;

  caption {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1.2rem;
  }

  tr {
    border: none;
  }

  th {
    font-weight: bold;
  }

  th,
  td {
    padding: 0.7rem 0.5rem;
    border: none;
    border-bottom: 1px solid $color-alto;
  }
}

#app {
  position: relative;
  background-color: $color-white;
  width: 42.85rem;
  min-height: 42rem;
  margin: 5rem auto;
  padding: 5.85rem 5.7rem;
}

.form-section {
  margin-bottom: 3rem;

  form {
    > label {
      display: block;
      margin-bottom: 0.3rem;
    }
  }
}

.input-section {
  padding: 0 3rem;

  .form-footer-text {
    color: $color-silver-chalice;
    margin: 0.8rem 0;
  }

  .button.fill {
    margin: 0.2rem 0;
  }
}
