/*
  컬러 세팅
    * 컬러 이름 지정 기준
    : https://marketplace.visualstudio.com/items?itemName=volynetsserhii.get-color-name
*/

// 무채색 계열
$color-white: #fff;
$color-concrete: #f3f3f3;
$color-alabaster: #f8f8f8;
$color-alto: #dcdcdc;
$color-nobel: #b4b4b4;
$color-silver-chalice: #999;
$color-black: #000;

// 붉은색 계열
$color-pomegranate: #F12F2F;
$color-white-linen: #F8E5E5;

// 푸른색 계열
$color-robins-egg-blue: #00bcd4;
$color-robins-egg-blue-20: #D1E7ED;
$color-mariner: #3581D7;

// 브랜드 컬러
$brand-color-accent: $color-robins-egg-blue;
$brand-color-accent-font: $color-white;
