#add-product-form-section {
  position: relative;

  .add-product-input-wrap {
    height: 2.25rem;
    display: grid;
    grid-template-columns: minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 16%);
    grid-gap: 0.25rem;

    > button {
      width: 3.5rem;
      margin-left: auto;
    }
  }
}

#add-holding-amount-form-section {
  #add-holding-amount-form {
    margin-bottom: 1rem;

    .add-holding-amount-wrap {
      height: 2.25rem;
      display: grid;
      grid-template-columns: minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 16%);
      gap: 1rem;

      > input {
        grid-column: 1 / 4;
      }

      > button {
        width: 3.5rem;
        margin-left: auto;
      }
    }
  }
}

#holding-amount-table-section {
  > table {
    width: 50%;
  }
}


#add-amount-for-purchase-form-section {
  #add-amount-for-purchase-form {
    margin-bottom: 1rem;

    .add-amount-for-purchase-wrap {
      height: 2.25rem;
      display: grid;
      grid-template-columns: minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 16%);
      gap: 1rem;

      > input {
        grid-column: 1 / 4;
      }

      > button {
        width: 3.5rem;
        margin-left: auto;
      }
    }
  }
}

#change-table-section {
  > table {
    width: 50%;
  }
}
