#add-product-form-section {
  position: relative;

  .add-product-input-wrap {
    height: 2.25rem;
    display: grid;
    grid-template-columns: minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 16%);
    grid-gap: 0.25rem;

    > button {
      width: 3.5rem;
      margin-left: auto;
    }
  }
}

#vendingmachine-charge-form-section {
  #vendingmachine-charge-form {
    margin-bottom: 1rem;

    .vendingmachine-charge-wrap {
      height: 2.25rem;
      display: grid;
      grid-template-columns: minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 16%);
      gap: 1rem;

      > input {
        grid-column: 1 / 4;
      }

      > button {
        width: 3.5rem;
        margin-left: auto;
      }
    }
  }
}

#vendingmachine-charge-table-section {
  > table {
    width: 50%;
  }
}


#customer-charge-form-section {
  #customer-charge-form {
    margin-bottom: 1rem;

    .customer-charge-wrap {
      height: 2.25rem;
      display: grid;
      grid-template-columns: minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 28%) minmax(auto, 16%);
      gap: 1rem;

      > input {
        grid-column: 1 / 4;
      }

      > button {
        width: 3.5rem;
        margin-left: auto;
      }
    }
  }
}

#change-table-section {
  > table {
    width: 50%;
  }
}
