#app {
  margin: 32px auto;
  padding: 44px 89px;
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--main-bg-color);
}

#tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 0;

  width: 440px;
  height: fit-content;
  box-shadow: 0 1em 1em -1em var(--box-shadow-color) inset;
}

#tab-content.login {
  padding: 0;
  box-shadow: none;
}

.input-form {
  display: flex;
  flex-direction: column;
}

.input-form-container {
  display: flex;
}

.table-container {
  margin-top: 48px;
  max-height: 300px;
  overflow-y: auto;
}

.hide {
  display: none;
}

#login-button {
  align-self: flex-end;
  padding: 4px 24px;
  line-height: 24px;
}

#logout-button {
  align-self: flex-end;
  padding: 4px 24px;
  line-height: 24px;
}
