#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  padding: 44px 80px;
  margin: 100px auto 100px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 4px;
  box-sizing: border-box;
}

.vending-machine-header {
  margin-bottom: 32px;
  line-height: 36px;
  font-size: 34px;
  font-weight: 600;
}

.menu-list {
  display: flex;
  margin-bottom: 52px;
  gap: 4px;
}

.button {
  text-align: center;
  width: 117px;
  height: 36px;
  border: none;
  border-radius: 4px;
  line-height: 38px;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-light-white);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button:hover,
.modify-button:hover,
.delete-button:hover,
.confirm-button:hover,
.purchase-button:hover {
  background-color: var(--color-dark-white);
}

.a-none-deco {
  display: block;
  text-decoration-line: none;
}

.a-none-deco:link,
.a-none-deco:visited,
.a-none-deco:hover,
.a-none-deco:active {
  color: black;
}

.menu-list li .select {
  background-color: var(--color-sky-blue);
}

.form-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 8px 0 0;
  gap: 3px;
}

.product-manage-input-width input {
  width: 120px;
}

.form-input input {
  height: 36px;
  padding-left: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
}

.form-input button {
  width: 56px;
  margin-left: 16px;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-light-blue);
}

.mt-20px {
  margin-top: 20px;
}

.hover-button:hover {
  background-color: var(--color-dark-blue);
}

/* table */
.table {
  margin: 48px auto 20px;
  font-size: 16px;
  line-height: 24px;
  table-layout: fixed;
  word-break: break-all;
  border-collapse: collapse;
}

.caption {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
}

.table tr {
  border: 1px solid var(--color-light-gray);
  border-width: 1px 0;
}

.table th {
  padding: 8px 36px;
  font-weight: 600;
}

.table td {
  text-align: center;
  padding: 8px 0;
  font-weight: 400;
}

.table button {
  width: 50px;
  height: 32px;
  border: 0px;
  border-radius: 4px;
  background-color: var(--color-light-white);
}

.input-width {
  width: 300px;
}

.change-button {
  display: block;
  margin: 0 auto;
}

.modify-input {
  width: 60%;
  padding: 5px 0;
}

.purchase-form-width {
  width: 375px;
  margin: 0 auto;
}

/* snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 0;
}

.show {
  visibility: visible !important; /* Show the snackbar */
  -webkit-animation: fadein 0.3s, fadeout 0.3s 1.7s;
  animation: fadein 0.3s, fadeout 0.3s 1.7s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}
