body {
  background: var(--gray-500);
  margin-top: 32px;
  font-size: 16px;
}

#app {
  position: relative;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 4px;
  border: 1px solid var(--border);
}

user-manager {
  position: absolute;
  top: 12px;
  right: 11px;
}

.profile-manager-menu {
  position: absolute;
  right: 0;
  width: 130px;
  display: block;
  list-style-type: none;
  background-color: var(--gray-700);
  border-radius: 4px;
}
.profile-manager-menu a {
  color: black;
  text-decoration: none;
}

.profile-manager-menu li {
  padding: 10px;
}

.profile-manager-menu li:hover {
  background-color: var(--gray-800);
  border-radius: 4px;
}

.long-app {
  height: 906px;
}

.short-app {
  height: 675px;
}

h1 {
  text-align: center;
  margin: 44px 0 32px;
  font-size: 34px;
}

nav {
  text-align: center;
  margin-bottom: 52px;
}

button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: var(--gray-600);
  letter-spacing: 0.5px;
}

button:hover {
  background: var(--gray-700);
}

.nav__product-manage-button,
.nav__coin-charge-button,
.nav__product-purchase-button,
.login-button {
  width: 117px;
  height: 36px;
}

.profile-button {
  width: 40px;
  height: 40px;
  background: var(--cyan-light);
  border-radius: 50%;
}

.profile-button:hover {
  background: var(--cyan-hover);
}

.clicked {
  background: var(--cyan-medium);
}

.clicked:hover {
  cursor: auto;
  background: var(--cyan-medium);
}

input {
  padding: 0 10px;
  border: 1px solid var(--border-input);
  border-radius: 4px;
}

.hidden {
  display: none;
}
