@import './productManage.css';
@import './balanceCharge.css';
@import './productPurchase.css';
@import './root.css';
@import './customerManageApp.css';

.hide {
  display: none !important;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  height: 400px;
}

#contents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 632px;
  row-gap: 40px;
}

.submit-button {
  background-color: var(--cyan-light);
  color: var(--white);
  width: 70px;
  height: 37px;
}

.submit-button:hover {
  background-color: var(--cyan);
}

.tab-button {
  background-color: var(--gray-light);
  color: var(--black);
  width: 120px;
  height: 37px;
}

.tab-button:hover {
  background-color: var(--gray);
}

.input {
  border: solid 1px;
  border-radius: 10px;
  border-color: var(--gray);
  width: 160px;
  height: 30px;
  padding-left: 8px;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-align: center;
}

.sign-in-button {
  position: fixed;
  top: 10px;
  right: 20px;
}
