@import './productManage.css';
@import './balanceCharge.css';
@import './auth.css';
@import './root.css';

.hide {
  display: none;
}

#contents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 632px;
  row-gap: 40px;
}

#login-button {
  position: absolute;
  right: 10px;
}
#auth-section {
}

#vending-machine-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  background-color: var(--cyan-light);
  color: var(--white);
  height: 37px;
}

.submit-button:hover {
  background-color: var(--cyan);
}

.tab-button {
  background-color: var(--gray-light);
  color: var(--black);
  width: 120px;
  height: 37px;
}

.tab-button:hover {
  background-color: var(--gray);
}

.input {
  border: solid 1.5px;
  border-radius: 10px;
  border-color: var(--gray);
  height: 30px;
  padding-left: 8px;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-align: center;
}
