#app {
  position: relative;
  width: 600px;
  min-height: 675px;
  background-color: white;
  border-radius: 4px;
  margin: 0 auto;
  padding: 44px 64px 32px;
  margin-top: 32px;
  line-height: 24px;
  font-size: 16px;
  border: 1px solid #ececec;
}

h1 {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}

/* ******************** */
/* primary-buttons */
/* ******************** */

.primary-button {
  width: 56px;
  height: 36px;
  background-color: var(--color-primary);
  color: #fff;
  margin-left: 12px;
}

.button-opacity-07:hover {
  opacity: 0.7;
}

.nav {
  margin-bottom: 52px;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 0 4px;
}

.nav__button {
  width: 117px;
  height: 36px;
  letter-spacing: 0.5px;
}

.nav__button:hover {
  background-color: var(--color-light-skyblue);
}

.nav__button--focused {
  background-color: var(--color-light-skyblue);
}

.nav__login-button {
  position: absolute;
  right: 15px;
  top: 15px;
  height: 30px;
}

.nav__user-button {
  position: absolute;
  background-color: #efefef;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 15px;
  top: 15px;
  height: 30px;
  text-align: center;
}

/* ******************** */
/* products-section */
/* ******************** */
.products-input-wrapper {
  display: flex;
  gap: 0 4px;
}

.products-form {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.products-form legend {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.products-form input {
  width: 120px;
  height: 36px;
  padding: 8px 9px 4px;
  border: 1px solid;
}

.products-form .input {
  border: 1px solid #8b8b8b;
  border-radius: 4px;
}

.products-form .input::placeholder {
  color: #8b8b8b;
}

/* ********************* */
/* product-state-section */
/* ********************* */
.purchasable-product-state-section,
.product-state-section {
  max-height: 340px;
  overflow: auto;
}

.product-table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

.product-table th {
  padding: 8px 0;
  font-weight: 600;
}

.product-table td {
  padding: 4px 0;
}

.flex-gap05 {
  display: flex;
  gap: 0 5px;
}

.table-button {
  width: 100px;
  height: 32px;
}

.table-button:hover {
  background-color: var(--color-light-skyblue);
}

.product-table__delete-button:hover {
  background-color: rgba(255, 20, 20, 0.44);
}

.product-table__input--edit {
  width: 80%;
  text-align: center;
  border-style: none;
  padding: 8px 9px 4px;
  border-bottom: 1px solid #b4b4b4;
}

/* ******************* */
/* charge-coin-section */
/* ******************* */
.money-for-purchase-form-section,
.charge-form-section {
  padding: 0 43px 0 56px;
  margin-bottom: 48px;
}

.money-for-purchase-form,
.charge-form-section__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

.money-for-purchase-form-section__money-input-wrapper,
.charge-form-section__coin-input-wrapper {
  display: flex;
}

.money-for-purchase-form-section__money-input,
.charge-form-section__coin-input {
  flex-grow: 1;
  padding: 8px 15.5px 4px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

.money-for-purchase-form-section__button,
.charge-form-section__button {
  display: block;
}

.coin-quantity-section {
  padding: 0 117px;
}

.coin-quantity-table {
  width: 100%;
  margin: 0 auto;
  table-layout: fixed;
}

.coin-quantity-table td,
.coin-quantity-table th {
  padding: 8px 0;
}

/* ************************* */
/* purchase-section */
/* ************************* */

.return-coin-quantity-section {
  display: flex;
  flex-direction: column;
}

.money-for-purchase-return-button {
  margin: 10px auto;
  width: 100px;
  height: 36px;
}

.money-for-purchase-return-button:hover {
  background-color: var(--color-light-skyblue);
}

/* ************* */
/* auth-section */
/* ************* */
.user-section,
.signup-section,
.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-title {
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 48px;
}

.user-info-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.user-info-input {
  width: 300px;
  height: 36px;
  border: 1px solid #ececec;
  padding: 6px 15.5px;
  border-radius: 4px;
  font-size: 16px;
}

.user-info-submit-button {
  width: 100%;
  height: 36px;
  background-color: var(--color-primary);
  color: white;
  margin-top: 14px;
  font-size: 14px;
  font-weight: 700px;
}

.login-foot {
  margin-top: 15px;
  width: 300px;
}

.hide {
  display: none;
}
