@import './productManage.css';
@import './balanceCharge.css';
@import './productPurchase.css';
@import './root.css';
@import './customerManageApp.css';

body {
  background-color: var(--gray-light);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 30px;
}

.hide {
  display: none !important;
}

.app {
  width: 700px;
  min-height: 700px;
  border: 1px solid rgba(116, 116, 116, 0.247);
  padding: 8px 8px 50px 8px;
  border-radius: 4px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contents-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 632px;
  row-gap: 40px;
}

.submit-button {
  background-color: var(--cyan-light);
  color: var(--white);
  width: 70px;
  height: 37px;
}

.submit-button:hover {
  background-color: var(--cyan);
}

.tab-button {
  background-color: var(--gray-light);
  color: var(--black);
  width: 120px;
  height: 37px;
}

.tab-button:hover {
  background-color: var(--gray);
}

.input {
  border: solid 1px;
  border-radius: 10px;
  border-color: var(--gray);
  width: 160px;
  height: 30px;
  padding-left: 8px;
}

.button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  text-align: center;
  line-height: 37px;
}

.sign-container {
  margin-left: auto;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}

.drop-down-button {
  width: 44px;
  height: 40px;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

.drop-down-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.drop-down-button:hover .thumbnail {
  border: 1px solid var(--cyan-light);
}

.drop-down-button:hover .drop-down-content {
  display: block;
}
