.login-button {
  align-self: flex-end;
  cursor: pointer;
}

.user-info-button {
  align-self: flex-end;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: black;
  border: 1px solid #fff;
  background-color: #00bcd429;
  cursor: pointer;
}

.signup-form,
.signin-form,
.edit-profile-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signup-form label,
.signin-form label,
.edit-profile-form label {
  align-self: flex-start;
}

.signup-form input,
.signin-form input,
.edit-profile-form input {
  width: 280px;
  margin-bottom: 20px;
}

.edit-profile-form input:disabled {
  background-color: #e0e0e0;
}

.signup-form button,
.signin-form button,
.edit-profile-form button {
  width: 280px;
  height: 35px;
  margin-top: 10px;
  background-color: #00bcd4;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.signup-text {
  cursor: pointer;
  color: #3581d7;
}

.select-box-wrapper {
  align-self: flex-end;
  display: flex;
  position: relative;
  flex-direction: column;
}

.select-box {
  position: absolute;
  top: 40px;
  right: 0px;
  align-items: center;
}

.select-box-flex {
  display: flex;
  flex-direction: column;
}

.select-box button {
  background: #f5f5f5;
  width: 100px;
  cursor: pointer;
}

.select-box .select-box__edit-profile-button,
.select-box .select-box__logout-button {
  padding: 5px;
  border: none;
}

.select-box .select-box__edit-profile-button {
  border-bottom: 1px solid #000;
  border-radius: 10px 10px 0 0;
}

.select-box .select-box__logout-button {
  border-radius: 0 0 10px 10px;
}

.select-box .select-box__edit-profile-button:hover,
.select-box .select-box__logout-button:hover {
  background-color: #98e2ec;
}
