.authentication-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.authentication-label:not(:first-child) {
  margin-top: 16px;
}

.authentication-button {
  margin: 28px 0 0;
}

.not-yet-member {
  margin-top: 14px;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.not-yet-member-link {
  color: #3581d7;
  text-decoration: none;
}
