@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  line-height: 1.5;
  /* 다양한 환경에서 동일한 글꼴 환경 세팅 */
  font-family: 'Pretendard Variable', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

:root {
  --button-bg-color: #f5f5f5;
  --button-bg-highlight-color: #00bcd429;
  --button-text-default-color: #000000;
  --border-preset: 1px solid rgba(0, 0, 0, 0.12);
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}

#app {
  width: 600px;
  min-height: 800px;
  margin-top: 32px;
  background-color: #ffffff;
  border: var(--border-preset);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 60px;
  gap: 52px;
  position: relative;
}

.user-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.tab-title {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  width: 100%;
}

button {
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button-bg-color);
}

button:hover {
  background-color: var(--button-bg-highlight-color);
}

input:focus {
  outline: none;
}

/* 숫자 입력란 화살표 숨김 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.not-found-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.not-found-section h2 {
  text-align: center;
}

#login-link-button {
  display: block
}

#user-button {
  background-color: transparent;
  z-index: 0;
}

#user-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#user-button-select-box {
  position:absolute;
  
  width: 100px;
  top: 64px;
  right: -15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-button-select-box li {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: var(--border-preset);
  background-color: #f3f3f3;
  text-align: center;
}

#user-button-select-box li:hover {
  background-color: var(--button-bg-highlight-color);
}

#user-info-link {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  text-decoration: none;
  color: #000000;
}

#user-info-link:visited {
  color: #000000;
}

#logout-button {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 0;
}

#logout-button:hover {
  background-color: transparent;
}