.default-button {
  background-color: #f5f5f5e3;
  color: #000;
  font-weight: 500;
}

.default-button:hover {
  background-color: #eeeeee;
}

.input-form-button {
  margin-left: 8px;
  flex-shrink: 0;
  padding: 8px 16px;

  background-color: #00bcd4;
  color: white;
  font-weight: 700;
}

.input-form-button:hover {
  background-color: #00b3ca;
}

.nav-tab-button {
  width: 117px;
  height: 36px;
  background-color: #f5f5f5;
  color: #000;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.nav-tab-button.selected {
  background-color: #00bcd429;
}
.nav-tab-button:hover {
  background-color: #ebebeb;
}

.nav-tab-button.selected:hover {
  background-color: #00bbd459;
}
