.default-button {
  background-color: var(--default-button-bg-color);
  color: var(--main-color);
  font-weight: 500;
}

.default-button:hover {
  background-color: var(--default-button-hover-bg-color);
}

.input-form-button {
  margin-left: 8px;
  flex-shrink: 0;
  padding: 8px 16px;

  background-color: var(--form-button-bg-color);
  color: white;
  font-weight: 700;
}

.input-form-button:hover {
  background-color: var(--form-button-hover-bg-color);
}

.nav-tab-button {
  padding: 8px 20px;

  line-height: 35px;
  background-color: var(--default-button-bg-color);
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.nav-tab-button.selected {
  background-color: var(--selected-nav-tab-button-bg-color);
}
.nav-tab-button:hover {
  background-color: var(--default-button-hover-bg-color);
}

.nav-tab-button.selected:hover {
  background-color: var(--selected-nav-tab-button-bg-color);
}
