.charge-form label {
  display: block;
}

.charge-form input {
  width: 300px;
}

.tab__charge-tab {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.charge-form__purchase-button {
  width: 56px;
}
