.product-input-container {
  margin-top: 4px;
}

.product-name-input,
.product-price-input,
.product-quantity-input {
  width: 120px;
  height: 36px;
}

.button {
  background: var(--cyan);
  color: var(--white);
}

.button:hover {
  background: var(--cyan-dark);
}

.product-add-button,
.coin-charge-button,
.purchase-money-button {
  width: 56px;
  height: 36px;
  margin-left: 14px;
}

.login-button {
  width: 300px;
  height: 36px;
}

h2 {
  margin: 48px 0 16px;
  text-align: center;
  font-size: 20px;
}

.product-current-situation-container {
  height: 285px;
  overflow-y: auto;
}

table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  border-top: 1px solid var(--border-table);
}

th,
td {
  height: 40px;
  border-bottom: 1px solid var(--border-table);
  text-align: center;
}

.table__product-modify-button,
.table__product-delete-button {
  width: 50px;
  height: 32px;
  margin-right: 6px;
}

.table__product-modify-confirm-button,
.product-return-change-button,
.table__product-purchase-button {
  width: 100px;
  height: 32px;
}

.product-return-change-button {
  display: block;
  margin: 16px auto 0;
}

label {
  display: block;
  margin-bottom: 4px;
}

#coin-input,
#purchase-money-input {
  width: 300px;
  height: 36px;
  margin-bottom: 16px;
}

.coin-current-situation,
.product-return-change-situation {
  width: 238px;
}

.long-input {
  width: 300px;
  height: 36px;
  border-radius: 4px;
}

.login-form {
  width: 100%;
  margin: 0 auto;
}

.password-label {
  margin-top: 16px;
}

.login-button {
  margin-top: 30px;
}

#snackbar {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.show {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.7s;
  animation: fadein 0.5s, fadeout 0.5s 2.7s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}
