.product-input-container {
  margin-top: 4px;
}

.product-name-input,
.product-price-input,
.product-quantity-input {
  width: 120px;
  height: 36px;
}

.product-add-button,
.coin-charge-button {
  width: 56px;
  height: 36px;
  margin-left: 14px;
  background: var(--cyan);
  color: var(--white);
}

.product-add-button:hover,
.coin-charge-button:hover {
  background: var(--cyan-dark);
}

h2 {
  margin-top: 48px;
  text-align: center;
  font-size: 20px;
}

.product-current-situation-container {
  height: 300px;
  overflow-y: auto;
}

table {
  width: 100%;
  margin: 16px auto 0;
  border-collapse: collapse;
  border-top: 1px solid var(--border-table);
}

th,
td {
  height: 40px;
  border-bottom: 1px solid var(--border-table);
  text-align: center;
}

.table__product-modify-button,
.table__product-delete-button {
  width: 50px;
  height: 32px;
  margin-right: 6px;
}

.table__product-modify-confirm-button {
  width: 100px;
  height: 32px;
}

.coin-charge-label {
  display: block;
  margin-bottom: 4px;
}

#coin-input {
  width: 300px;
  height: 36px;
  margin-bottom: 16px;
}

.coin-current-situation {
  width: 238px;
}
