.customer-manage-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-container {
  margin-left: auto;
}

.sign-up,
.sign-in,
.change-customer-information {
  height: 600px;
}
