.dialog {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.dialog-contents {
  cursor: default;
  z-index: 100;
  position: fixed;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 30%;
  min-width: 465px;
  min-height: 380px;
  padding-top: 30px;
  border-radius: 40px 40px 0 0;
  animation: slide-up 2s 0s forwards;
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#dialog-product-item {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.dialog-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#select-quantity {
  width: 60px;
  text-align: center;
  cursor: default;
}

.select-quantity-box label {
  margin-right: 30px;
}

.dialog-purchase-button {
  position: absolute;
  width: 80%;
  bottom: 50px;
  background: var(--primary-color);
  color: var(--primary-button-text-color);
}

.dialog-purchase-button:hover {
  background: var(--dialog-button-hover-color);
}

.select-quantity-button {
  width: 30px;
  background: var(--primary-color);
  color: var(--primary-button-text-color);
}

.select-quantity-button:hover {
  background: var(--dialog-button-hover-color);
}
