:root {
  --primary-color: #00bcd4;
  --primary-button-text-color: #fff;
  --primary-input-bg-color: #fff;
  --input-outline-color: #ccc;
  --input-border-color: #eee;
  --input-outline-focus-color: #777;
  --input-border-focus-color: #bbb;
  --input-disable-bg-color: #aaa;
  --button-hover-color: rgba(0, 188, 212, 0.16);
  --primary-text-color: rgba(0, 0, 0, 0.87);
  --list-border-color: #dcdcdc;
  --snackbar-bg-color: #333;
  --snackbar-text-color: #fff;
  --snackbar-error-bg-color: rgb(177, 28, 28);
}
