* {
  padding: 0;
}

:root {
  --nav-button-color: #f5f5f5;
  --nav-button-hover-color: rgba(0, 188, 212, 0.25);
  --input-border-color: #b4b4b4;
  --default-button-color: #00bcd4;
  --default-button-font-color:#ffff;
  --hover-button-color: #80deea;
  --table-border-color: #dcdcdc;
  --process-button-color: #f5f5f5;
  --snackbar-primary-bg-color:#0FB203;
  --snackbar-error-bg-color:#A4070A;
  --snackbar-font-color:#ffff;
}

a {
  text-decoration: none;
  color: black;
  line-height: 40px;
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page{
  width: 400px;
}

#page-tab-container {
  display: flex;
  justify-content: center;
  width: 400px;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.nav-button {
  background-color: var(--nav-button-color);
  width: 117px;
  height: 36px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.nav-button:hover {
  background-color: var(--nav-button-hover-color);
}


.side-container{
  position: absolute;
  top:30px;
  right:30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label{
  display: flex;
  align-items:flex-start;
  margin-bottom: 5px;
}

.primary-input-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap:5px;
}


.secondary-input-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

#changes-input, #charge-money-input{
  width:300px;
}

#product-name-input,#product-price-input, #product-count-input{
  width: 70px;
}

.input {
  border: 1px solid var(--input-border-color);
  padding:10px 15px;
  border-radius: 4px;
}

.secondary-input-container > input{
  width:365px;
}


.primary-button{
  background-color: var( --default-button-color);
  color: var(--default-button-font-color);
  border:none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor:pointer;
  min-width: 40px;
}

.secondary-button{
  border:none;
  background-color: var(--nav-button-color);
  border-radius: 4px;
  padding:10px 30px;
  cursor:pointer;
}

.secondary-button:hover{
  background-color: var(--nav-button-hover-color);
}


.current-status{
  display: flex;
  align-items:flex-start;
}

table {
  width: 470px;
  border-collapse: collapse;
}

tr {
  height: 40px;
  border-top: 1px solid var(--table-border-color);
}

.tooltip{
  visibility: hidden;
  display: flex;
  flex-direction: column;
}


.tooltip-menu{
  background-color: var(--nav-button-color);
  width: 117px;
  height: 36px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.tooltip-menu:hover{
  background-color: var(--hover-button-color);
}

.signUp-anchor{
  color:blue;
}


.user-avatar-container{
  position: absolute;
  top:30px;
  right:30px;
}

.user-avatar{
  background-color: var(--nav-button-hover-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 8px;
  font-size:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-container:hover .tooltip-menu{
  visibility: visible;
}


@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
  .snackbar-container {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
  }


.snackbar{
    visibility: hidden;
    width:300px;
    max-height:150px;
    color:var( --snackbar-font-color);
    padding: 20px;
    display:flex;
    justify-content: center;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.82); 
    box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.82);
}

.snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

.snackbar.primary{
  background-color: var(--snackbar-primary-bg-color);
}

.snackbar.error{
    background-color: var( --snackbar-error-bg-color);
}


