/* font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* reset css */
@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import './app.css';
@import './itemManagementPage.css';
