@import './table.css';
@import './buttonStyle.css';
@import './app.css';
@import './itemManageTab.css';
@import './coinRechargeTab.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #e5e5e5;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2 {
  white-space: nowrap;
}

h1 {
  margin-bottom: 32px;
}

button {
  padding: 8px;

  font-size: 0.875rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input {
  padding: 8px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
}

input[type='number']::-webkit-inner-spin-button {
  opacity: 0.5;
}

input[type='number']:disabled::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

form > label {
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
}
