@import './component/button.css';
@import './component/color.css';
@import './component/input.css';
@import './component/table.css';
@import './component/snackbar.css';

@import './screen/productManage.css';
@import './screen/moneyCharge.css';
@import './screen/buyProduct.css';
@import './screen/signupPage.css';
@import './screen/loginPage.css';
@import './screen/adminPage.css';

body {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

p {
  margin: 0;
}

.app {
  width: 600px;
  padding: 12px 0 44px 0;
  border: 1px solid var(--app-border-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.app__title {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  color: #000000;
}

.tab {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.tab__item {
  padding: 9px 20px;
  background-color: var(--tab-background-color);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: var(--tab-font-color);
}

.tab__item:nth-child(2) {
  margin: 0 4px;
}

.app.productManage .tab__item[data-name="productManage"],
.app.chargeMoney .tab__item[data-name="chargeMoney"], 
.app.buyProduct .tab__item[data-name="buyProduct"] {
  background-color: var(--tab-active-background-color);
}

.app .app__page,
.app .app__main {
  display: none;
}

.app.productManage .app__main.productManage,
.app.chargeMoney .app__main.chargeMoney, 
.app.buyProduct .app__main.buyProduct {
  display: flex;
}

.app.productManage .app__page.main,
.app.chargeMoney .app__page.main,
.app.buyProduct .app__page.main,
.app.signup .app__page.signup,
.app.admin .app__page.admin,
.app.login .app__page.login {
  display: block;
}

.amount-description {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.87);
}

.sign-wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 15px;
  height: 40px;
}

.sign-wrap button,
.sign-wrap .menu {
  display: none;
}

.sign-wrap.buyer .login-button,
.sign-wrap.admin .thumbnail-button,
.sign-wrap.menu .menu {
  display: block;
}

.login-button {
  width: 117px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.thumbnail-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: var(--tab-background-color);
  border: none;
  border-radius: 100%;
}

.thumbnail-button:hover {
  background: var(--tab-active-background-color);
}

.sign-wrap .menu {
  position: absolute;
  border: 1px solid var(--app-border-color);
  margin-left: 10px;
}

.menu-button {
  cursor: pointer;
  border: none;
  padding: 7px;
  font-size: 14px;
  background-color: var(--tab-background-color);
}

.menu-button:hover {
  background-color: var(--tab-active-background-color);
}

.menu-button:first-child {
  border-bottom: 1px solid var(--app-border-color);
}

.input-description {
  display: block;
}

.page-title {
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  text-align: center;
}
 