@import './table.css';
@import './product-manage-tab.css';
@import './charge-tab.css';
@import './purchase-tab.css';
@import './login.css';
@import './signup-page.css';
@import './profile-edit-page.css';
@import './snackbar.css';

:root {
  --primary-font-color: rgba(0, 0, 0, 0.87);
  --secondary-font-color: #ffffff;
  --input-border-color: #b4b4b4;
  --table-border-color: #dcdcdc;
  --button-bg-color: #f5f5f5;
  --button-focus-bg-color: #00bcd429;
  --submit-button-bg-color: #00bcd4;
}

body {
  font-family: 'Roboto';
  color: var(--primary-font-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 32px 0;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  margin-bottom: 52px;
}

.button {
  background: var(--button-bg-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 32px;
}

.focus-button {
  background: var(--button-focus-bg-color);
}

.submit-button {
  background: var(--submit-button-bg-color);
  border-radius: 4px;
  border: none;
  color: var(--secondary-font-color);
  cursor: pointer;
  height: 36px;
}

input {
  padding: 8px;
  border: 1px solid var(--input-border-color);
  box-sizing: border-box;
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hidden {
  display: none;
}
