@import './app.css';
@import './snackbar.css';
@import './login.css';

:root {
  --color-white: #ffffff;
  --color-light-white: #f5f5f5;
  --color-dark-white: #ebebeb;
  --color-light-gray: #b4b4b4;
  --color-dark-gray: rgba(0, 0, 0, 0.12);
  --color-sky-blue: rgba(0, 188, 212, 0.16);
  --color-blue: #3581d7;
  --color-light-blue: #00bcd4;
  --color-dark-blue: #0098ac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration-line: none;
}
