@import url('https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import './app.css';
@import './snackbar.css';

:root {
  --color-primary: #00bcd4;
  --color-light-skyblue: rgba(0, 188, 212, 0.16);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  color: rgba(0, 0, 0, 0.87);
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input:focus {
  outline-style: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

caption {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.15px;
  margin-bottom: 16px;
}

tr {
  border-top: 1px solid #dcdcdc;
}

tr:last-child {
  border-bottom: 1px solid #dcdcdc;
}

td {
  text-align: center;
}

.mb-50 {
  margin-bottom: 50px;
}
