* {
  padding: 0;
}

:root {
  --nav-button-color: #f5f5f5;
  --nav-button-hover-color: rgba(0, 188, 212, 0.25);
  --input-border-color: #b4b4b4;
  --default-button-color: #00bcd4;
  --hover-button-color: #80deea;
  --table-border-color: #dcdcdc;
  --process-button-color: #f5f5f5;
}

#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-tab-container {
  display: flex;
  justify-content: center;
  width: 360px;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.nav-button {
  background-color: var(--nav-button-color);
  width: 117px;
  height: 36px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.nav-button:hover {
  background-color: var(--nav-button-hover-color);
}

.input {
  height: 36px;
  border-radius: 4px;
  padding-left: 8px;
  border: 1px solid var(--input-border-color);
}

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-container {
  display: flex;
  gap: 6px;
}

.edit-input-container {
  display: flex;
  gap: 5px;
}

.product-edit-input {
  width: 90px;
  height: 30px;
}

.button {
  color: white;
  background-color: var(--default-button-color);
  width: 56px;
  height: 38px;
  padding: 0;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-button-color);
}

table {
  width: 470px;
  border-collapse: collapse;
}

tr {
  height: 40px;
  border-top: 1px solid var(--table-border-color);
}

.process-button {
  background-color: var(--process-button-color);
  width: 50px;
  height: 32px;
  border-radius: 4px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}

.process-button:hover {
  background-color: var(--nav-button-hover-color);
}
