@import './app.css';
@import './snackbar.css';
@import './sign.css';

:root {
  --color-nav-button-bg: #f5f5f5;
  --color-button-hover: #dfdfdf;
  --color-nav-button-clicked: #00bcd429;
  --color-submit-button-bg: #00bcd4;
  --color-submit-button-hover: #00bbd4c2;
  --color-submit-button-active: #00bbd4c2;
  --color-white: #ffffff;
  --color-link: #3581d7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

html,
body {
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-button-hover);
}

input {
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  padding: 5px 9px;
}
