.insert-money-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 372px;
}

.insert-amount-input {
  width: 300px;
  height: 34px;
}

.insert-money-button {
  width: 56px;
  height: 36px;
  align-self: flex-end;
}

.item-purchase-button {
  width: 100px;
  height: 32px;
}

.returned-change-container {
  width: full;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.return-change-button {
  margin-top: 16px;
  width: 100px;
  height: 32px;
}
