.insert-money-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 372px;
}

.insert-amount-input {
  width: 300px;
  height: 34px;
}

.insert-money-button {
  width: 56px;
  height: 36px;
  align-self: flex-end;
}

.item-purchase-button {
  width: 50px;
  height: 32px;
}
