.account-container {
  width: 100%;
}

.account-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* height: auto; */
}

.login-block {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 100%;
  margin: 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.login-block label {
  margin-bottom: 8px;
}

.login-input {
  width: auto;
  height: 36px;
  border: none;
  margin: 0;
  padding: 0 15px;
}

.login-input:disabled {
  background: var(--input-disabled-bg-color);
}

#login-submit {
  width: 100%;
  height: 36px;
  margin: 20px 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.login-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.login-p a {
  text-decoration-line: none;
}
