:root {
  --input-border-color: #b4b4b4;
  --default-button-color: #00bcd4;
  --hover-button-color: #80deea;
}

a {
  text-decoration: none;
}

#login-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 7px;
}

.button {
  color: white;
  background-color: var(--default-button-color);
  height: 38px;
  padding: 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-button-color);
}

.input {
  height: 36px;
  border-radius: 4px;
  padding-left: 8px;
  border: 1px solid var(--input-border-color);
  margin-bottom: 23px;
}

.input:disabled {
  background: #e0e0e0;
  color: #8b8b8b;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 0;
}

.show {
  visibility: visible !important; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 0.9s;
  animation: fadein 0.5s, fadeout 0.5s 0.9s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}
