#user-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  width: 150px;
  height: 100px;

  display: flex;
  flex-direction: column;
  text-align: center;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
}

#user-menu ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

#user-menu li {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(98, 98, 98);
  font-weight: bold;
  cursor: pointer;
}

#user-menu li:hover {
  border-radius: 5px;
  background-color: rgb(197, 196, 196);
}
