header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

#app-title {
  font-size: 34px;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 10px;
}

nav.hide {
  display: none;
}

.tab-menu-button {
  width: 120px;

  padding: 8px 0;

  background-color: var(--tab-menu-button-bg-color);
  border: none;
  border-radius: 4px;

  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.tab-menu-button.current {
  background-color: var(--tab-menu-button-stress-bg-color);
  cursor: default;
}

.tab-menu-button:hover {
  background-color: var(--tab-menu-button-stress-bg-color);
}

.tab-menu-button:visited {
  color: var(--default--black-color);
}

.profile #user {
  display: flex;
  position: absolute;
  right: 11px;
  top: 12px;
}

#user.hide {
  display: none;
}

.profile #admin {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 11px;
  top: 12px;

  background: #d6f4f8;
  border-radius: 50%;

  font-size: 20px;
  cursor: pointer;
}

#admin.hide {
  display: none;
}

.admin-detail {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;

  top: 40px;
  right: 0;
}

.admin-detail.hide {
  display: none;
}

.admin-detail a {
  width: 90px;

  font-size: 15px;
  color: black;
}
