/* 공통 사용 */
#product-information-input {
  display: grid;
  margin-top: 13px;
  grid-template-areas:
    'lb lb lb lb lb'
    'nm pr qt . bt';
  grid-row-gap: 13px;
  grid-column-gap: 7px;
}

#product-input-label {
  grid-area: lb;
}

#product-name-input {
  grid-area: nm;
}

#product-price-input {
  grid-area: pr;
}

#product-quantity-input {
  grid-area: qt;
}

#product-information-submit-btn {
  grid-area: bt;
}

.table-container {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#product-table {
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  border-collapse: collapse;
  width: 630px;
  text-align: center;
}

td {
  padding: 10px 0;
  border-top: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
}

th {
  padding: 10px 0;
}

.edit-button-container {
  width: 20%;
}

.edit-button,
.delete-button {
  background-color: var(--gray-light);
  color: var(--black);

  width: 50px;
  height: 37px;
}

.confirm-button {
  background-color: var(--gray-light);
  color: var(--black);

  width: 100px;
  height: 37px;
}

.product-input {
  border: solid 1px;
  border-radius: 5px;
  border-color: var(--gray);
  width: 150px;
  height: 37px;
}
