.product-manage-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.product-manage-form input {
  width: 120px;
  height: 36px;
}

.product-item input {
  border: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

legend {
  margin-bottom: 4px;
}
