.customer-money-input-container {
  display: grid;
  margin-top: 13px;
  grid-template-areas:
    'lb lb lb'
    'bi . bt'
    'cb cb cb';
  grid-row-gap: 13px;
  grid-column-gap: 7px;
}

.charge-balance-input-label {
  grid-area: lb;
}

#customer-money-input {
  width: 330px;
  grid-area: bi;
}

.customer-money-input-btn {
  grid-area: bt;
}

#current-balance-container {
  grid-area: cb;
}

.purchase-button {
  background-color: var(--gray-light);
  color: var(--black);

  width: 100px;
  height: 37px;
}
