.thumbnail {
  width: 40px;
  height: 40px;
}

.dropdown-menu {
  position: absolute;
  top: 46px;
  left: -50%;
  width: max-content;
  padding: 10px;
  display: none;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.dropdown-menu.show {
  display: flex;
}

.login-button {
  width: 117px;
  height: 36px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile-fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-input {
  display: block;
  width: 300px;
  height: 34px;
  margin-top: 4px;
}

.profile-button {
  height: 36px;
  margin-top: 14px;
}
