.tab__purchase-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab__purchase-tab p {
  width: 360px;
}

.user-amount-form label {
  display: block;
}

.user-amount-form input {
  width: 300px;
  height: 36px;
}

.user-amount-form__charge-button {
  width: 56px;
}

#purchasable-product-list-table {
  margin-top: 48px;
}

#change-return-table {
  margin: 60px 0 16px;
}
