.snackbar-wrapper {
  position: fixed;
  width: 100vw;
  margin: 0;
  bottom: 0;
  padding: 0;
  z-index: 1;
}

.snackbar {
  position: relative;
  visibility: hidden;
  min-width: 250px;
  max-width: 300px;
  background-color: var(--snackbar-bg-color);
  color: var(--snackbar-text-color);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  background-color: var(--snackbar-error-bg-color);
}

.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.7s;
  animation: fadein 0.5s, fadeout 0.5s 2.7s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: -30px;
    opacity: 0;
  }
}
