.table-section {
  width: 100%;
}

caption {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

td,
th {
  border-bottom: var(--border-preset);
  padding: 8px 0;
  text-align: center;
}

td {
  height: 65px;
}

th {
  border-top: var(--border-preset);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

.table-button-wrapper {
  width: 90px;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.confirm-update-button {
  width: 100%;
}

#product-status-table tr input {
  width: 90%;
  margin: auto;
  font-size: 1rem;
}

#product-status-table th:nth-child(1) {
  width: 160px;
}
#product-status-table th:nth-child(2) {
  width: 60px;
}
#product-status-table th:nth-child(3) {
  width: 50px;
}
#product-status-table th:nth-child(4) {
  width: 140px;
}

#coin-status-table td {
  width: 100px;
}
