.user-info-form {
  width: 300px;
  margin-bottom: 32px;
}

.user-info-form > input {
  margin-bottom: 16px;
}

.user-info-form > .input-form-button {
  margin: 16px 0 0;
}

.register-link-text {
  align-self: flex-start;
}

.register-link-text > a {
  color: #3581d7;
}
