:root {
  --app-border-color: rgba(0, 0, 0, 0.12);
  --tab-background-color: #f5f5f5;
  --tab-font-color: #000000;
  --tab-active-background-color: rgba(0, 188, 212, 0.16);
  --input-border-color: #b4b4b4;
  --submit-button-color: #00bcd4;
  --submit-button-font-color: #ffffff;
  --product-border-color: #dcdcdc;
}
