.table-wrap table thead td {
  border-top: 1px solid var(--product-border-color);
  font-weight: 600;
}

.table-wrap table tbody td {
  font-weight: 400;
}

.table-wrap table td {
  width: 25%;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid var(--product-border-color);
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
