<section id="add-product-form-section" class="form-section">
  <form id="add-product-form">
      <label form="add-product-form">추가할 상품 정보를 입력해주세요.</label>
      <div class="add-product-input-wrap">
          <input type="text" name="name" placeholder="상품명" form="add-product-form" required>
          <input type="number" name="price" placeholder="가격" form="add-product-form" required>
          <input type="number" name="quantity" placeholder="수량" form="add-product-form" required>
          <button id="add-product-submit-button" class="button accent">추가</button>
      </div>
  </form>
</section>