#app {
  add-product-form {
    padding: 0px 80px;
    margin: 0px 0px 48px 0px;
  }

  add-product-form input {
    width: 120px;
  }

  add-product-form button {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
  }

  product-inventory {
    padding: 0px 64px;
  }
}

product-inventory table {
  @for $i from 1 through 3 {
    th:nth-child(#{$i}) {
      width: 20%;
    }
  }
  th:nth-child(4) {
    width: 40%;
  }
}
