@import './variables';

.btn {
  width: 117px;
  height: 36px;
  padding: 9px 0;
  border-radius: 4px;
  font-weight: 500;
  outline: 0;
  border-style: none;
  cursor: pointer;
  word-break: keep-all;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.btn.sm {
  width: 100px;
  height: 32px;
  font-size: 15px;
  padding: 7px 0;
}

.btn.xs {
  @extend .btn.sm;
  width: 50px;
}

.btn.circle {
  width: 40px;
  height: 40px;
  padding: 8px 12px;
  border-radius: 50%;
}

.btn.btn-primary {
  color: white;
  background-color: $color-primary;
}

.btn.btn-primary:hover {
  background-color: $color-cyan-800;
}

.btn.btn-secondary {
  background-color: $color-secondary;
}

.btn.btn-outline-primary {
  color: $color-primary;
  background-color: white;
  border: 1px solid $color-primary;
}

.btn.active {
  background-color: $color-cyan-700 !important;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .45;
  pointer-events: none;
  &:hover {
    background-color: $color-primary;
  }
}

.btn-group {
  display: inline-flex;
  justify-content: center;
}

.btn.full {
  display: block;
  width: 100%;
}

.btn.loading {
  position: relative;
  pointer-events: auto;
  color: transparent;
  &:before {
    position: absolute;
    content: '';
    top: 7px;
    left: calc(50% - 12px);
    width: 16px;
    height: 16px;
    border-radius: 500rem;
    border: 0.2em solid rgba(0,0,0,.15);
  }
  &:after {
    position: absolute;
    content: '';
    top: 7px;
    left: calc(50% - 12px);
    width: 16px;
    height: 16px;
    animation: button-spin .6s linear;
    animation-iteration-count: infinite;
    border-radius: 500rem;
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 0.2em;
    box-shadow: 0 0 0 1px transparent;
  }

  @keyframes button-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
