@import './variables';

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 8px 8px 4px;
  border: 1px solid $color-gray-800;
  border-radius: 4px;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.form-control.submitted {
  background-color: $color-gray-600;
}

.form-control:disabled {
  background-color: $color-gray-600;
  cursor: not-allowed;
}

.form-control:focus {
  background-color: white !important;
}

::placeholder {
  color: $color-gray-900;
  opacity: 1; /* Firefox */
}

.form-control.error {
  background-color: red;
}
