@import './variables';

#app {
  .signup-form,
  .modify-member-form,
  .login-form {
    padding: 0px 143px 0px 157px;
    flex-direction: column;
  }
  button {
    width: 300px;
  }
  .input-email {
    background-color: $color-gray-800;
  }
}

.login-form {
  .sign-up-link {
    color: $color-blue;
    font-weight: bold;
  }

  .sign-up-link:hover {
    cursor: pointer;
    color: $color-primary;
  }
}
