.snack-bar {
  visibility: hidden;
  background-color: $color-gray-900;
  color: $color-white;
  border-radius: 10px;
  padding: 15px 25px;
  text-align: center;
  z-index: 1;

  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 30px;
}

.show {
  visibility: visible !important;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@keyframes fadein {
  from {
    bottom: 0px;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0px;
    opacity: 0;
  }
}
