$color-cyan-900: #00bcd4;
$color-cyan-800: #80deea;
$color-cyan-700: #ceecf0;

$color-gray-900: #8b8b8b;
$color-gray-800: #b4b4b4;
$color-gray-700: #dcdcdc;
$color-gray-600: #dfdfdf;
$color-gray-500: #e0e0e0;
$color-gray-400: #f5f5f5;
$color-gray-300: #f9f9f9;

$color-white: #fff;
$color-black-900: #000;
$color-black-800: #212121;

$color-red: #dc3545;

$color-blue: #3581D7;

$color-primary: $color-cyan-900;
$color-secondary: $color-gray-400;
