@import 'variable';

#app {
  width: 600px;
  min-height: 675px;
  height: 100%;
  margin: 32px 0;
  background-color: $color-app-background;
  border: 1px solid $color-app-border;
  border-radius: 4px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 0 10px;
  height: 36px;
  border: 1px solid $color-input-background;
  border-radius: 4px;

  &::placeholder {
    color: $color-input-placeholder;
  }
}

.input-description {
  display: block;
  line-height: 24px;
  margin-bottom: 4px;
}

.title {
  margin: 44px 0 32px;
}

.section-title {
  text-align: center;
  margin-bottom: 16px;
  font-size: 20px;
}

.nav {
  margin-bottom: 52px;

  &__button {
    width: 117px;
    height: 36px;
    background: $color-button-default;
    border-radius: 4px;

    &.active {
      background: $color-brand-secondary;
    }

    &:hover {
      background-color: $color-brand-secondary;
    }
  }
}

.grid {
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 40px;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $color-grid-border;
  }

  &-header {
    font-weight: 600;
    border-top: 1px solid $color-grid-border;
  }

  &-button {
    width: 80px;
    height: 32px;
  }
}

.submit-button {
  width: 56px;
  height: 36px;
  background: $color-brand-primary;
  border-radius: 4px;
  color: $color-button-text-color;
  margin-left: 8px;
}

.input-section {
  margin-bottom: 48px;
}

.signin-button {
  position: absolute;
  margin-top: 12px;
  margin-left: 460px;
}

.thumbnail {
  position: absolute;
  margin-top: 12px;
  margin-left: 530px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $color-brand-tertiary;
}

.select-box {
  position: absolute;
  margin-top: 60px;
  margin-left: 490px;
  background: white;
  border: 1px solid $color-app-border;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  animation: selectBoxFadeout 0.3s;

  &__item {
    width: 100px;
    height: 35px;
    background: none;

    &:hover {
      background: $color-brand-secondary;
    }
  }

  &.active {
    animation: selectBoxFadein 0.3s;
  }
}

@keyframes selectBoxFadein {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 33px;
  }
}

@keyframes selectBoxFadeout {
  from {
    opacity: 1;
    top: 33px;
  }
  to {
    opacity: 0;
    top: 20px;
  }
}

.hide {
  display: none !important;
}
