@import 'app', 'product-management', 'coin-charge';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: 0;
}
