@import 'app', 'product-management', 'coin-charge', 'variable';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

html,
body {
  // height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $color-page-background;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
