.money-charge {
  &__input {
    width: 300px;
  }

  &__form {
    margin-bottom: 20px;
  }
}

.product-menu {
  &__container {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
  }
}

.coin-return {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 237px;
  margin: auto;

  &__container {
    width: 100%;
    margin-bottom: 16px;
  }

  &__button {
    width: 100px;
    height: 32px;
    margin-bottom: 36px;
  }
}
