@import 'variable';

.product-addition {
  &__input {
    width: 120px;
  }
}

.product-inventory {
  &__container {
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 48px;
  }

  &__input {
    width: 85px;
    border: 0;
    text-align: center;
    outline: 0;

    &:focus:read-write {
      outline: solid $color-brand-primary;
      background: $color-brand-secondary;
    }
  }
}
