.money-charge {
  &__input {
    width: 300px;
  }

  &__form {
    margin-bottom: 20px;
  }
}

.product-menu {
  &__container {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
  }
}
