@import 'variable';

#sign-in,
#sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sign-in,
.sign-up {
  &__title {
    margin: 44px 0 48px;
  }

  &__form {
    width: 300px;
  }

  &__description {
    text-align: start;
  }

  &__input {
    width: 100%;
    margin-bottom: 16px;
  }

  &__button {
    width: 100%;
    height: 36px;
    margin: 14px 0;
    background: $color-brand-primary;
    color: $color-button-text-color;
  }

  &__link-sign-up {
    background: none;
    color: $color-link-text-color;
  }
}
