$color-brand-primary: #00bcd4;
$color-brand-secondary: #00bcd429;

$color-page-background: #f9f9f9;

$color-app-border: #0000001f;
$color-app-background: #ffffff;

$color-grid-border: #dcdcdc;

$color-input-background: #b4b4b4;
$color-input-placeholder: #b8b8b8;

$color-button-default: #f5f5f5;
$color-button-text-color: #ffffff;

$color-snackbar-background: #333333;
$color-snackbar-text-color: #ffffff;
